<html>
<head></head>
<body>

  <!--<div style='text-align:center'><img src='/img/icon.png'>-->

  <h3 style='text-align:center'>Dal Says:</h3>
  <p style='text-align:center'><%= @quote %></p>
</body>
</html>